/*
INDEX :
	- PART JUMBOTRON
	- COMMON
*/

/* START : PART JUMBOTRON */
.row.utama{
	padding: 120px 30px 40px 30px;
	position: relative;
	margin: 0;
}
@media (max-width: 767px){
	.row.utama{
		padding: 100px 0px 40px 0px;
	}
}
/* END : PART JUMBOTRON */

/* START : COMMON */
.container-fluid h4{ /*h4 Title Brands*/
	margin-top: 20px;
	margin-bottom: 20px;
}
@media (max-width: 767px){
	.margin-bottom-20{
		margin-bottom: 20px;
	}
}
/* END : COMMON */