/*
INDEX :
	- PART NAVBAR BEFORE FIXED
	- ANIMATE NAVBAR
*/

/* START : NAVBAR BEFORE FIXED */
.mynavbarWrapper{
	position: absolute;
	top: 30px;
	left: 0;
	width: 100%;
	height: 51px;
	z-index: 2;
	/*padding: 0px 25px;*/
}
.mynavbarWrapper .navbar{
	margin: 0px 25px;
	background: rgb(248, 248, 248, 0.5);
}
.mynavbarWrapper .navbar a{
	color: #eee;
}
.mynavbarWrapper .navbar a:hover, .mynavbarWrapper .navbar a:focus{
	color: #0d0b1e;
}
.nav.navbar-nav .active a{
	background-color: #eee;
	color: #0d0b1e;
}
/* END : NAVBAR BEFORE FIXED */

/* START : ANIMATE NAVBAR */
.mynavbarWrapper.fixed-theme,
.mynavbarWrapper .navbar-fixed-top
{
    transition: 1.5s;
    -webkit-transition:  1.5s;
}
.mynavbarWrapper .navbar-fixed-top{
	margin: 0;
    background-color: #f8f8f8;
}
.mynavbarWrapper .navbar-fixed-top a{
	color: #0d0b1e;
}
/* END : ANIMATE NAVBAR */